.navbar{
height: 338px;
width: 100vw;
background-image: url("./../assets/pictures/website background.jpg");
display: flex;
justify-content: space-evenly;
align-items: flex-start;
z-index: -1;
}
.nav_links{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    width: 100%;
    align-items: flex-start ;
}
a:link {
    text-decoration: none;
   
}

a:hover {
    text-decoration: underline;
    color: blue;
}
 
li {
    color: white;
}
li:hover{
    color: blue;
}